<div class="wrapper-bestsellers">
  <h3 class="section-title">Hear from Our Valued Customers</h3>
  <div class="wrapper-cards">
    <p-card header="Frank Dae" class="card-bestseller">
      <p class="m-0">
        "Living in a remote area, access to pharmacies can be a challenge.
        Thankfully, I discovered this online pharmacy, which has been a
        lifesaver. The extensive range of medications available is impressive,
        and the prices are competitive. The customer support team is responsive
        and helped me with my queries. I highly recommend this online pharmacy
        to anyone seeking accessibility and quality service."
      </p>
    </p-card>
    <p-card header="David Patel" class="card-bestseller">
      <p class="m-0">
        "As a busy working professional, I rely on the convenience of online
        pharmacies, and this one has exceeded my expectations. The website is
        user-friendly, and the ordering process is seamless. The medication I
        ordered arrived promptly, and the packaging was secure. I appreciate the
        reliability and time-saving aspect of this online pharmacy."
      </p>
    </p-card>
    <p-card header="Maria Santos" class="card-bestseller">
      <p class="m-0">
        "As a senior citizen, I value personalized care and attention when it
        comes to my healthcare needs. This online pharmacy has exceeded my
        expectations in that regard. The website is designed with seniors in
        mind, making it easy to navigate and place orders. The staff goes above
        and beyond to address any concerns and provide assistance. I feel
        confident knowing I can rely on this online pharmacy for my prescription
        needs."
      </p>
    </p-card>
  </div>
</div>
