<div class="wrapper-bestsellers">
  <h3 class="section-title">Bestsellers</h3>
  <div class="wrapper-cards">
    <div *ngFor="let product of this.bestSellers" class="card-bestseller">
      <p-card [header]="product.name">
        <!-- <img [src]="getProductImageUrl(product.pictureId)" [alt]="product.name" class="product-image" /> -->
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">{{ product.price | currency }}</p>
      </p-card>
    </div>
  </div>
</div>
