<div class="wrapper-bestsellers">
  <h3 class="section-title">Bestsellers</h3>
  <div class="wrapper-cards">
    <div *ngFor="let product of this.bestSellers">
      <p-card [header]="product.name" class="card-bestseller">
        <img
          [src]="
            '../../../../assets/img/products/' + product.pictureId + '.jpg'
          "
          [alt]="product.name"
          class="product-image"
        />
        <p class="m-0">{{ product.description }}</p>
        <p class="m-0">{{ product.price | currency }}</p>
        <div class="wrapper-amount">
          <p-button
            icon="pi pi-minus"
            styleClass="p-button-rounded  "
          ></p-button>
          <span class="amount">1</span>
          <p-button icon="pi pi-plus" styleClass="p-button-rounded "></p-button>
        </div>
        <div class="wrapper-button">
          <p-button label="Add"></p-button>
        </div>
      </p-card>
    </div>
  </div>
</div>
