<div class="flex-column">
  <div class="flex-row">
    <i class="pi pi-twitter" (click)="redirectTo('https://twitter.com')"></i>
    <i
      class="pi pi-facebook"
      (click)="redirectTo('https://www.facebook.com')"
    ></i>
    <i
      class="pi pi-instagram"
      (click)="redirectTo('https://www.instagram.com')"
    ></i>
    <i
      class="pi pi-youtube"
      (click)="redirectTo('https://www.youtube.com')"
    ></i>
  </div>
  <div class="flex-row actions">
    <div class="container-links">
      <p-button
        label="CONTACT"
        styleClass="p-button-link"
        routerLink="/about/contact"
      ></p-button>
      <p-button
        label="STORY"
        styleClass="p-button-link"
        routerLink="/about/our-story"
      ></p-button>
    </div>
  </div>
</div>
