<p-card header="Our story">
<div class="d-flex">
  <img src="{{locationPath}}" alt="Location and Hours" class="mr-3" style="width: 400px; height: 400px;">
  <div style="margin-left: 5rem;">
    <p-card class="card-bestseller">
    <p class="m-0" style="font-size: 100%;">
      Our PharmaXpress website will offer many features including:
      <br>
      - Full list of drugs in our pharmacy with support about dosage, ingredients, contraindications, etc.
      <br>
      - Implementation of searching for drugs by name, category, or manufacturer.
      <br>
      - User profile, where data on recommendations, purchase history, and preferences will be kept.
      <br>
      - A shopping cart that helps you deliver medicines and place orders.
      <br>
      - Secure online payments using various methods such as credit cards or electronic payments.
      <br>
      - Determining the origin of orders and deliveries of medicines.
      <br>
      <br>
      At PharmaXpress, we strive to provide our customers with top-quality service and a seamless
      online pharmacy experience. Our commitment to customer satisfaction and convenience is at the forefront of everything we do.
      <br>
      When you're ready to make a purchase, our shopping cart feature makes the process seamless. You can add medications to your cart, review your order, and proceed to checkout with confidence. We prioritize secure online payments, offering various methods such as credit cards and electronic payments. Rest assured that your sensitive information is protected through robust encryption and security measures.
      We understand the importance of timely and reliable deliveries. That's why we ensure the origin of our orders and maintain a reliable delivery network. Whether you're ordering locally or internationally, we strive to provide efficient and prompt delivery of your medicines.
      At PharmaXpress, our focus is on customer satisfaction and convenience. We continuously strive to improve our services, enhance our product offerings, and provide a seamless online pharmacy experience. Your health and well-being are at the core of everything we do, and we are committed to serving you with excellence.
    </p>
    </p-card>
  </div>
</div>
</p-card>

