<div class="section-container">
  <h2 class="section-title">About us</h2>
  <div class="container-flex">
    <div class="img-wrapper">
      <img
        src="../../../../../assets/img/contact-us/location&hours.jpg"
        alt="location and hours photo"
      />
    </div>
    <div class="text-wrapper">
      <p class="test-about">
        Welcome to our pharmacy! We are a place where your health and well-being
        are our top priority. At our pharmacy, we strive to provide exceptional
        service and care to all our customers.
        <br />
        <br />
        With a team of knowledgeable and friendly pharmacists, we are here to
        answer any questions you may have about your medications or health
        concerns. We take the time to listen to your needs and provide
        personalized advice and recommendations.
        <br /><br />
        Our wide range of pharmaceutical products includes prescription
        medications, over-the-counter drugs, vitamins, and health supplements.
        We carefully select our suppliers to ensure that we offer only
        high-quality products that meet strict safety standards.
        <br /><br />
        Convenience is important to us, which is why we offer various services
        such as online prescription refills and home delivery. We understand
        that your time is valuable, and we strive to make your experience with
        us as seamless as possible.
        <br /><br />
        At our pharmacy, we believe in the power of education. We regularly host
        health workshops and provide educational materials to help you make
        informed decisions about your health. We want to empower you to take
        control of your well-being.
        <br /><br />
        We are proud to be a trusted part of the community, and we are committed
        to supporting local initiatives and organizations. We believe in giving
        back and making a positive impact on the lives of those around us.
        <br /><br />
        Thank you for choosing our pharmacy as your partner in health. We look
        forward to serving you and helping you lead a healthier and happier
        life.
      </p>
    </div>
  </div>
</div>
